In [4]:
# Import dependencies
import pandas as pd
import scipy.stats as st
import matplotlib
import csv
import os

In [5]:
data_df = pd.read_csv("listings1.csv")
data_df = data_df.drop("neighbourhood_group", axis = 1)
data_df = data_df.dropna()
data_df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,22787,"Sunny suite w/ queen size bed, inside boutique...",87973,Diego,Cuauhtémoc,19.44076,-99.16324,Private room,1969,1,57,2019-05-27,0.52,9,355
4,44616,CONDESA HAUS B&B,196253,Condesa Haus Bed & Breakfast CDMX,Cuauhtémoc,19.41006,-99.17645,Private room,1893,1,39,2019-05-02,0.42,10,334
5,58955,Entire beautiful duplex in la Roma,282620,Nat,Cuauhtémoc,19.42292,-99.15775,Entire home/apt,1625,3,39,2019-05-28,0.43,1,178
6,61792,Spacious Clean Quiet room (own bath) in la Con...,299558,Roberto,Cuauhtémoc,19.41259,-99.17959,Private room,956,2,51,2019-04-05,2.55,3,180
7,67703,"2 bedroom apt. deco bldg, Condesa",334451,Nicholas,Cuauhtémoc,19.41375,-99.17028,Entire home/apt,1816,2,39,2019-02-24,0.42,3,361

In [32]:
data_df.groupby(data_df["neighbourhood"])["price"].mean()

neighbourhood
Azcapotzalco               522.204545
Benito Juárez              709.439442
Coyoacán                   749.586735
Cuajimalpa de Morelos     1207.482394
Cuauhtémoc                1180.172357
Gustavo A. Madero          496.281768
Iztacalco                  528.846154
Iztapalapa                 398.790476
La Magdalena Contreras     704.655172
Miguel Hidalgo            1583.850504
Milpa Alta                 768.600000
Tlalpan                    639.914683
Tláhuac                    548.000000
Venustiano Carranza        598.318008
Xochimilco                 577.846154
Álvaro Obregón             871.967742
Name: price, dtype: float64

In [38]:
data_df.groupby(data_df["price"])["neighbourhood"].value_counts()

price   neighbourhood
0       Cuauhtémoc        5
        Miguel Hidalgo    2
        Benito Juárez     1
57      Benito Juárez     1
115     Iztapalapa        1
                         ..
34411   Miguel Hidalgo    1
36705   Cuauhtémoc        1
57351   Cuauhtémoc        1
152936  Miguel Hidalgo    1
191170  Miguel Hidalgo    1
Name: neighbourhood, Length: 1290, dtype: int64

In [33]:
data_df.groupby(data_df["room_type"])["price"].mean()

room_type
Entire home/apt    1494.526158
Private room        546.864650
Shared room         367.984211
Name: price, dtype: float64

In [34]:
data_df.groupby(data_df["minimum_nights"])["price"].mean()

minimum_nights
1        975.854429
2       1108.374771
3       1119.116019
4       1025.080139
5       1496.244898
6       1226.848101
7       1693.404762
8        491.571429
10      1090.379310
12      1006.833333
13      1115.000000
14       899.333333
15       611.771429
16       497.000000
18       421.000000
19       755.000000
20       911.250000
21       713.666667
24      1491.000000
25       951.800000
28       611.700000
29       420.666667
30       663.466667
45       249.000000
60       982.600000
70      1281.000000
90       630.900000
91       229.000000
93      1338.000000
100      344.000000
110     4665.000000
120     1491.000000
175      478.000000
180      615.400000
182      287.000000
184      459.000000
200      554.000000
300      554.000000
365      860.000000
1000     200.500000
Name: price, dtype: float64

In [36]:
data_df.groupby(data_df["price"])["number_of_reviews"].mean()

price
0         25.0
57         7.0
115        1.0
134        5.0
153        3.0
          ...
34411     14.0
36705      1.0
57351      1.0
152936    12.0
191170     4.0
Name: number_of_reviews, Length: 316, dtype: float64

In [37]:
data_df.groupby(data_df["price"])["number_of_reviews"].sum()

price
0         200
57          7
115         1
134         5
153         3
         ...
34411      14
36705       1
57351       1
152936     12
191170      4
Name: number_of_reviews, Length: 316, dtype: int64