In [2]:
# Import dependencies
import pandas as pd
import scipy.stats as st
import matplotlib
import csv
import os

In [3]:
data_df = pd.read_csv("listings1.csv")
data_df = data_df.drop("neighbourhood_group", axis = 1)
data_df = data_df.dropna()
data_df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,22787,"Sunny suite w/ queen size bed, inside boutique...",87973,Diego,Cuauhtémoc,19.44076,-99.16324,Private room,1969,1,57,2019-05-27,0.52,9,355
4,44616,CONDESA HAUS B&B,196253,Condesa Haus Bed & Breakfast CDMX,Cuauhtémoc,19.41006,-99.17645,Private room,1893,1,39,2019-05-02,0.42,10,334
5,58955,Entire beautiful duplex in la Roma,282620,Nat,Cuauhtémoc,19.42292,-99.15775,Entire home/apt,1625,3,39,2019-05-28,0.43,1,178
6,61792,Spacious Clean Quiet room (own bath) in la Con...,299558,Roberto,Cuauhtémoc,19.41259,-99.17959,Private room,956,2,51,2019-04-05,2.55,3,180
7,67703,"2 bedroom apt. deco bldg, Condesa",334451,Nicholas,Cuauhtémoc,19.41375,-99.17028,Entire home/apt,1816,2,39,2019-02-24,0.42,3,361

In [20]:
data = pd.DataFrame(data_df)
data.count()

id                                14154
name                              14154
host_id                           14154
host_name                         14154
neighbourhood                     14154
latitude                          14154
longitude                         14154
room_type                         14154
price                             14154
minimum_nights                    14154
number_of_reviews                 14154
last_review                       14154
reviews_per_month                 14154
calculated_host_listings_count    14154
availability_365                  14154
dtype: int64

In [25]:
Alldeps = data_df.groupby(['name']).last()
#Al agrupar por nombre del depa, descubrimos que el total de deptos registrados es almenos 1000 puntos 
#menor al total de entradas
Alldeps.sort_values(by='price')
#Segun parece hay algunos cuartos que no ofrecen el precio... lo que probablemente se prueba de data incompleta

,id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
name,,,,,,,,,,,,,,
"Beautiful Apartment, Best Location in Col.Roma!",20435525,64371831,David,Cuauhtémoc,19.41721,-99.16463,Entire home/apt,0,1,78,2019-06-09,3.51,5,337
2BR Apartment in New Polanco/Carso,9415758,4388846,Eduardo,Miguel Hidalgo,19.44349,-99.20408,Entire home/apt,0,1,16,2019-06-17,0.81,3,329
Céntrico departamento amueblado,20473904,70411250,Birthe,Benito Juárez,19.36485,-99.17095,Entire home/apt,0,5,1,2018-12-27,0.17,1,358
3 condos for 12 ppl @ Condesa w BKFST included,21281161,4448934,John,Cuauhtémoc,19.41225,-99.18150,Entire home/apt,0,1,9,2019-02-18,0.49,45,351
Condesa's Plush with breakfast included (G8),21108073,4448934,John,Cuauhtémoc,19.41334,-99.17957,Entire home/apt,0,1,6,2018-06-24,0.30,45,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Polanco Deluxe,29258852,210139395,Paulette,Miguel Hidalgo,19.43548,-99.18621,Entire home/apt,34411,2,14,2019-05-27,1.76,3,171
Historical Palace in Centro,23100799,103716258,César Y Carolina,Cuauhtémoc,19.43340,-99.13256,Entire home/apt,36705,1,1,2019-03-23,0.32,1,285
SKY DUMMY LISTING,13294167,8905097,★The Local Apple★,Cuauhtémoc,19.41154,-99.17386,Private room,57351,1,1,2016-07-11,0.03,13,351
Amazing Penthouse in Polanco.,23920872,55605035,Luz,Miguel Hidalgo,19.43697,-99.19851,Entire home/apt,152936,7,12,2018-06-03,0.80,1,174
Lamartine Poolside,12086079,64709036,Sean,Miguel Hidalgo,19.43517,-99.18860,Entire home/apt,191170,5,4,2018-03-17,0.16,4,360

In [39]:

Alldeps = data_df.groupby(['name']).last()
Deps = Alldeps['id'].count()
Locations = data_df.groupby(['latitude','longitude']).last()
Locs = Locations['id'].count()
Total = data_df['id'].count()
print(f'El total de datos sin n/a son {Total} pero hay {Deps} deps con el mismo nombre aunque las locaciones que son {Locs}, parecen ser las mismas que el total')

El total de datos sin n/a son 14154 pero hay 13909 deps con el mismo nombre aunque las locaciones que son 14153, parecen ser las mismas que el total

In [69]:
Delegaciones = data_df.groupby(['neighbourhood']).agg(
                            Host_Offer = ('id','count'),
                            Avg_cost = ('price', 'mean'),
                           Total_Reviews = ('number_of_reviews', 'sum'),
                           Avg_dep_revs_per_month = ('reviews_per_month', 'mean'),
                            Avg_availability = ('availability_365','mean'),
                               #Here I tried mode but need to be via apply
                            Most_commun_room_types_available = ('room_type', lambda x: pd.Series.mode(x)))
Delegaciones.sort_values(by='Total_Hosters', ascending = False )

,Total_Hosters,Avg_cost,Total_Reviews,Avg_dep_revs_per_month,Avg_availability,Most_commun_room_types_available
neighbourhood,,,,,,
Cuauhtémoc,6092,1180.172357,214528,2.058516,211.071241,Entire home/apt
Miguel Hidalgo,2281,1583.850504,58539,1.551320,208.459009,Entire home/apt
Benito Juárez,2221,709.439442,44894,1.452431,207.812247,Private room
Coyoacán,1176,749.586735,23746,1.329413,220.460034,Private room
Álvaro Obregón,589,871.967742,7985,1.072886,232.553480,Private room
Tlalpan,504,639.914683,5525,0.953135,242.291667,Private room
Cuajimalpa de Morelos,284,1207.482394,3235,0.946761,234.197183,Entire home/apt
Venustiano Carranza,261,598.318008,9940,2.865556,224.363985,Private room
Gustavo A. Madero,181,496.281768,4116,1.765635,236.856354,Private room
Iztacalco,169,528.846154,3801,1.897515,190.834320,Private room
Azcapotzalco,132,522.204545,1734,1.216212,218.265152,Private room
Iztapalapa,105,398.790476,1009,0.960857,218.723810,Private room
La Magdalena Contreras,87,704.655172,924,0.830575,225.321839,Private room
Xochimilco,52,577.846154,440,0.893269,267.365385,Private room
Tláhuac,15,548.000000,85,0.565333,224.133333,Private room
Milpa Alta,5,768.600000,6,0.394000,269.000000,Entire home/apt

In [71]:
#It seems there is just 9031 diferent hosters, and some 
data_df['host_id'].value_counts()

4448934      43
42700394     42
10764020     42
53361285     32
27841247     32
             ..
140664511     1
108732399     1
173058032     1
199933939     1
146788354     1
Name: host_id, Length: 9031, dtype: int64

In [90]:
Hosters = data_df.groupby(['host_id']).count()
Hosters = Hosters.sort_values(by='id', ascending=False)
Monopoly = Hosters.loc[Hosters['id'] >= 2]

bins = [2,5,10,20,30,50]
labels = ['fortunate (2-5)', 'aspirationist (5-10)', 'emprendedor(10-20)', 'professional (20-30)','capitalist(30 or more)']
Monopoly['SizeMonopolist'] = pd.cut(Monopoly['id'], bins, labels = labels, include_lowest = True)

Monopoly.groupby(['SizeMonopolist']).count()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,id,name,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
SizeMonopolist,,,,,,,,,,,,,,
fortunate (2-5),1948,1948,1948,1948,1948,1948,1948,1948,1948,1948,1948,1948,1948,1948
aspirationist (5-10),153,153,153,153,153,153,153,153,153,153,153,153,153,153
emprendedor(10-20),47,47,47,47,47,47,47,47,47,47,47,47,47,47
professional (20-30),13,13,13,13,13,13,13,13,13,13,13,13,13,13
capitalist(30 or more),5,5,5,5,5,5,5,5,5,5,5,5,5,5